[Desktop Entry]
Encoding=UTF-8
Name=RSIBreak
Name[bg]=RSIBreak
Name[ca]=RSIBreak
Name[cs]=RSIBreak
Name[da]=RSIBreak
Name[de]=RSIBreak
Name[el]=RSIBreak
Name[en_GB]=RSIBreak
Name[es]=RSIBreak
Name[et]=RSIBreak
Name[fr]=RSIBreak
Name[ga]=RSIBreak
Name[gl]=RSIBreak
Name[hi]=आरएसआईब्रेक
Name[hne]=आरएसआईब्रेक
Name[it]=RSIBreak
Name[ja]=RSIBreak
Name[km]=RSIBreak
Name[ko]=RSIBreak
Name[ml]=RSI ഇടവേള
Name[nb]=RSIBreak
Name[nds]=RSIBreak
Name[nl]=RSIBreak
Name[nn]=RSIBreak
Name[pl]=RSIBreak
Name[pt]=RSIBreak
Name[pt_BR]=RSIBreak
Name[ro]=PauzăRSI
Name[sv]=RSIbreak
Name[tr]=RSIBreak
Name[uk]=RSIBreak
Name[x-test]=xxRSIBreakxx
Name[zh_CN]=RSIBreak
Name[zh_TW]=RSIBreak
Comment=Plasma RSIBreak applet
Comment[bg]=Аплет на RSIBreak за Plasma
Comment[ca]=Miniaplicació RSIBreak del Plasma
Comment[cs]=Plasma RSIBreak applet
Comment[da]=Plasma-applet til RSIBreak
Comment[de]=RSIBreak-Miniprogramm für Plasma
Comment[el]=Μικροεφαρμογή Plasma RSIBreak
Comment[en_GB]=Plasma RSIBreak applet
Comment[es]=Miniaplicación de RSIBreak para Plasma
Comment[et]=Plasma RSIBreaki aplett
Comment[fr]=Applet Plasma RSIBreak
Comment[ga]=Feidhmchláirín RSIBreak Plasma
Comment[gl]=Applet RSIBreak para Plasma
Comment[hi]=प्लाज़्मा आरएसआईब्रेक ऐप्लेट
Comment[hne]=प्लाज्मा आरएसआईब्रेक ऐप्लेट
Comment[it]=Applet Plasma RSIBreak
Comment[ja]=Plasma RSIBreak アプレット
Comment[km]=អាប់ភ្លេត RSIBreak ប្លាស្មា
Comment[ko]=Plasma RSIBreak 애플릿
Comment[ml]=പ്ലാസ്മയിലെ RSI ഇടവേള ലഘുപ്രയോഗം
Comment[nb]=Plasma miniprogram for RSIBreak
Comment[nds]=RSIBreak-Lüttprogramm för Plasma
Comment[nl]=Plasma-applet voor RSIBreak
Comment[nn]=Varsla når det tid for å ta ein pause
Comment[pl]=Aplet Plazmy RSIBreak
Comment[pt]='Applet' do RSIBreak para o Plasma
Comment[pt_BR]=Miniaplicativo Plasma RSIBreak
Comment[ro]=Miniaplicație Plasma PauzăRSI
Comment[sv]=RSIbreak-miniprogram för Plasma
Comment[tr]=Plasma RSIBreak programcığı
Comment[uk]=Аплет Плазми RSIBreak
Comment[x-test]=xxPlasma RSIBreak appletxx
Comment[zh_CN]=Plasma RSIBreak 小程序
Comment[zh_TW]=Plasma RSIBreak 小程式
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_rsibreak
X-KDE-PluginInfo-Author=Rafał Rzepecki
X-KDE-PluginInfo-Email=divided.mind@gmail.com
X-KDE-PluginInfo-Name=plasma_applet_rsibreak
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://www.rsibreak.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
