[Desktop Entry]
Name=RSIBreak engine
Name[da]=RSIBreak-motor
Name[el]=Μηχανή RSIBreak
Name[et]=RSIBreaki mootor
Name[ga]=Inneall RSIBreak
Name[gl]=Motor de RSIBreak
Name[km]=ម៉ាស៊ីន RSIBreak
Name[nds]=RSIBreak-Karn
Name[nl]=RSI-pauze-engine
Name[pt]=Motor do RSIBreak
Name[pt_BR]=mecanismo RSIBreak
Name[sv]=RSIbreak-gränssnitt
Name[tr]=RSIBreak motoru
Name[uk]=Рушій RSIBreak
Name[x-test]=xxRSIBreak enginexx
Name[zh_CN]=RSIBreak 引擎
Name[zh_TW]=RSIBreak 引擎
Comment=Provides current times left to breaks and rsibreak status
Comment[da]=Giver aktuel tid tilbage til pauser og risbreak-status
Comment[el]=Προσφέρει χρόνους διαλειμμάτων και κατάσταση του rsibreak
Comment[et]=Annab teada pausini jäänud aega ja RSIBreaki oleku
Comment[ga]=Soláthraíonn sé seo an tréimhse fágtha roimh an chéad scíth eile, agus an stádas rsibreak
Comment[gl]=Fornece os tempos a faltar para as paradas e o estado de rsibreak
Comment[km]=ផ្ដល់​នូវ​ពេលវេលា​បច្ចុប្បន្ន​ដែល​នៅ​សល់​ដើម្បី​សម្រាក និង​ស្ថានភាព​របស់ rsibreak
Comment[nds]=Stellt de Resttieden bet to de Pausen un den RSIBreak-Status praat
Comment[nl]=Levert overblijvende tijd tot een pauze en status RSI-pauze
Comment[pt]=Apresenta os tempos restantes para as pausas e o estado do RSIBreak
Comment[pt_BR]=Fornece o tempo restante para a pausa e o status do rsibreak
Comment[sv]=Tillhandahåller aktuella tider kvar till raster, och status för RSIbreak
Comment[tr]=Molalara kalan sürelere ve rsibreak durumuna ilişkin bilgileri sağlar
Comment[uk]=Показує поточний час до наступної перерви і стан rsibreak
Comment[x-test]=xxProvides current times left to breaks and rsibreak statusxx
Comment[zh_CN]=提供当前剩余时间和 rsibreak 状态
Comment[zh_TW]=提供目前還剩多少時間就可以休息，以及 rsibreak 狀態
Type=Service
ServiceTypes=Plasma/DataEngine

X-KDE-Library=plasma_engine_rsibreak
X-Plasma-EngineName=rsibreak
X-KDE-PluginInfo-Author=Rafał Rzepecki
X-KDE-PluginInfo-Email=divided.mind@gmail.com
X-KDE-PluginInfo-Name=rsibreak
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.rsibreak.org/
X-KDE-PluginInfo-Category=Utility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
