[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;
Exec=rsibreak
Icon=rsibreak
X-DocPath=rsibreak/index.html
X-DBUS-StartupType=Unique
X-KDE-autostart-phase=2
X-KDE-autostart-condition=rsibreakrc:General:AutoStart:false
X-KDE-autostart-after=panel
Name=RSIBreak
Name[bg]=RSIBreak
Name[bs]=RSIBreak
Name[ca]=RSIBreak
Name[ca@valencia]=RSIBreak
Name[cs]=RSIBreak
Name[da]=RSIBreak
Name[de]=RSIBreak
Name[el]=RSIBreak
Name[en_GB]=RSIBreak
Name[es]=RSIBreak
Name[et]=RSIBreak
Name[fi]=RSIBreak
Name[fr]=RSIBreak
Name[ga]=RSIBreak
Name[gl]=RSIBreak
Name[hi]=आरएसआईब्रेक
Name[hne]=आरएसआईब्रेक
Name[hr]=RSIBreak
Name[hu]=RSITörés
Name[it]=RSIBreak
Name[ja]=RSIBreak
Name[km]=RSIBreak
Name[ko]=RSIBreak
Name[ml]=RSI ഇടവേള
Name[nb]=RSIBreak
Name[nds]=RSIBreak
Name[nl]=RSIBreak
Name[nn]=RSIBreak
Name[pl]=RSIBreak
Name[pt]=RSIBreak
Name[pt_BR]=RSIBreak
Name[ro]=PauzăRSI
Name[ru]=RSIBreak
Name[sk]=RSIBreak
Name[sl]=RSIBreak
Name[sv]=RSIbreak
Name[tr]=RSIBreak
Name[ug]=RSIBreak
Name[uk]=RSIBreak
Name[x-test]=xxRSIBreakxx
Name[zh_CN]=RSIBreak
Name[zh_TW]=RSIBreak
GenericName=Help prevent repetitive strain injury
GenericName[ca]=Ajuda a prevenir la síndrome del canal carpià
GenericName[ca@valencia]=Ajuda a prevenir la síndrome del canal carpià
GenericName[en_GB]=Help prevent repetitive strain injury
GenericName[es]=Ayuda para prevenir las lesiones por esfuerzo repetitivo
GenericName[gl]=Axudar a evitar as lesións por tensión repetitiva
GenericName[it]=Aiuta a prevenire il disturbo degli arti superiori da lavoro
GenericName[ko]=반복성 긴장 장애를 예방하는 데 도움이 됩니다
GenericName[nl]=Hulp bij voorkomen van RSI (repetitive strain injury)
GenericName[nn]=Hjelper deg å unngå musesjuke
GenericName[pl]=Pomaga uniknąć urazów wskutek powtarzającego się wysiłku
GenericName[pt]=Ajuda a prevenir as lesões por tensão repetitiva
GenericName[pt_BR]=Ajuda a prevenir lesões por esforço repetitivo
GenericName[sv]=Hjälp till att förhindra belastningsskador
GenericName[uk]=Намагається запобігти шкоді вашому здоров'ю від постійного напруження
GenericName[x-test]=xxHelp prevent repetitive strain injuryxx
Comment=Makes sure you rest now and then
Comment[bg]=Грижи се това да си почивате от време на време
Comment[ca]=Assegureu-vos de prendre un descans i després
Comment[ca@valencia]=Assegureu-vos de prendre un descans i després
Comment[cs]=Zajišťuje, že si sem tam odpočinete
Comment[da]=Sørger for at du hviler af og til
Comment[de]=Stellt sicher, dass Sie sich gelegentlich ausruhen
Comment[el]=Ασχολείται με την ξεκούρασή σας
Comment[en_GB]=Makes sure you rest now and then
Comment[es]=Se asegura de que descansa de vez en cuando
Comment[et]=Rakendus, mis kontrollib, et sa aeg-ajalt puhkaksid
Comment[fi]=Varmistaa, että rentoudut aika ajoin
Comment[fr]=S'assure que vous vous reposez bien
Comment[ga]=Bí cinnte go ligeann tú do scíth anois agus arís
Comment[gl]=Garante que vde. faga descansos de cando en vez
Comment[hi]=आपको अभी तथा कभी आराम करने देता है
Comment[hne]=आप मन ल अभी अउ कभी आराम करन देथे 
Comment[hu]=Győzödjön meg róla, hogy most pihen és aztán
Comment[it]=Si accerta che tu faccia qualche pausa ogni tanto
Comment[ja]=あなたが時々きちんと休憩を取るように
Comment[km]=សូម​ប្រាកដ​ថា​អ្នក​សម្រាក​ឥឡូវ​នេះ និង​ពេល​ក្រោយ
Comment[ko]=적당한 때 쉴 수 있도록 도와줍니다
Comment[ml]=നിങ്ങള്‍ വല്ലപ്പോഴും വിശ്രമിക്കുന്നുണ്ടെന്ന് ഉറപ്പാക്കുക
Comment[nb]=Passer på at du hviler nå og da
Comment[nds]=Stellt seker, dat Du af Di af un an verpusten deist
Comment[nl]=Zorgt er voor dat u zo nu en dan rust
Comment[nn]=Pass på å ta ein pause no og då
Comment[pl]=Przypomina ci o przerwach
Comment[pt]=Certifica-se de que você descansa com frequência
Comment[pt_BR]=Certifique-se de que você descansa com frequência
Comment[ro]=Are grijă să vă odihniți din când în când
Comment[sk]=Uistite sa, že oddychujete teraz a potom
Comment[sl]=Poskrbi, da se tu in tam spočijete
Comment[sv]=Försäkrar att du vilar då och då
Comment[tr]=Şimdi ve sonrasında dinlenmenizi sağlar
Comment[uk]=Переконується, що ви відпочиваєте від комп’ютера
Comment[x-test]=xxMakes sure you rest now and thenxx
Comment[zh_CN]=请确保从现在开始您会休息一下
Comment[zh_TW]=確定您偶而會休息一下
