[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;
Exec=rsibreak
Icon=rsibreak
X-DocPath=rsibreak/index.html
X-DCOP-ServiceType=Unique
X-KDE-autostart-phase=2
X-KDE-autostart-condition=rsibreakrc:General:AutoStart:false
X-KDE-autostart-after=panel
Name=RSIBreak
Name[hi]=आरएसआईब्रेक
Name[ml]=RSI ഇടവേള
Name[nl]=RSI-pauze
Name[ro]=PauzăRSI
Name[sv]=RSIbreak
Name[x-test]=xxRSIBreakxx
Comment=Makes sure you rest now and then
Comment[bg]=Грижи се това да си почивате от време на време
Comment[da]=Sørger for at du hviler af og til
Comment[de]=Stellt sicher, dass Sie sich gelegentlich ausruhen
Comment[el]=Ασχολείται με την ξεκούρασή σας
Comment[es]=Se asegura de que descansa de vez en cuando
Comment[et]=Rakendus, mis kontrollib, et sa aeg-ajalt puhkaksid
Comment[fr]=S'assure que vous vous reposez bien
Comment[ga]=Bí cinnte go ligeann tú do scíth anois agus arís
Comment[gl]=Garante que vde. faga descansos de cando en vez
Comment[hi]=आपको अभी तथा कभी आराम करने देता है
Comment[ja]=あなたが時々きちんと休憩を取るように
Comment[km]=សូម​ប្រាកដ​ថា​អ្នក​សម្រាក​ឥឡូវ​នេះ និង​ពេល​ក្រោយ
Comment[ko]=적당한 때 쉴 수 있도록 도와줍니다
Comment[ml]=നിങ്ങള്‍ വല്ലപ്പോഴും വിശ്രമിക്കുന്നുണ്ടെന്ന് ഉറപ്പാക്കുക
Comment[nb]=Passer på at du hviler nå og da
Comment[nds]=Stellt seker, dat Du af Di af un an verpusten deist
Comment[nl]=Zorgt er voor dat u zo nu en dan rust
Comment[nn]=Pass på å ta ein pause no og då
Comment[pt]=Certifica-se de que você descansa com frequência
Comment[pt_BR]=Certifique-se de que você descansa com frequência
Comment[ro]=Are grijă să vă odihniți din cînd în cînd
Comment[sv]=Försäkrar att du vilar då och då
Comment[tr]=Şimdi ve sonrasında dinlenmenizi sağlar
Comment[uk]=Переконується, що ви відпочиваєте від комп’ютера
Comment[x-test]=xxMakes sure you rest now and thenxx
Comment[zh_CN]=请确保从现在开始您会休息一下
Comment[zh_TW]=確定您偶而會休息一下
