[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Qt;KDE;Utility;
Exec=rsibreak
Icon=rsibreak
DocPath=rsibreak/index.html
X-DCOP-ServiceType=Unique
X-KDE-autostart-phase=2
X-KDE-autostart-condition=rsibreakrc:General:AutoStart:false
X-KDE-autostart-after=panel
Name=RSIBreak
Comment=Makes sure you rest now and then
